.footer {
    display: flex;
    align-items: center;
    margin: -1.5rem -3.5rem;
    position: relative;
    margin-top: 7rem;
    height: 15vh;
    border-top:1px solid #89CFF0;
    box-shadow: 0px 1px 23px 0px #89CFF0;
    color: var(--gray);
    /* background-color: #89CFF0; */
  }
  .f-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .f-icons {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
 
  
  @media screen and (max-width: 480px){
    .f-content{
      transform: scale(.5);
    }
    .footer{
      height:70px;
    }
  }