.swiper {
    width: 100% ;
  height: 28rem;

}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.swiper-slide img{
  border-radius: 1rem;
  width: 40rem;
  height: 20rem;
}

.swiper .swiper-slide {
height: 28rem;
}

.swiper .swiper-slide:nth-child(2n) {
  color: burlywood  ;
}

@media screen and (max-width: 480px){
  .swiper-slide img{
    border-radius: 1rem;
    width: 16rem;
    height: 10rem;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center; 
  }

}